@font-face {
  font-family: ALS Sector Webfont;
  src: url("../../public/font/als_sector_regular-webfont.eot");
}

body {
  font-family: "ALS Sector Webfont", "ALS Sector", Lato, sans-serif;
}

dl {
  margin-bottom: 0;
}
